[flake8]
exclude =
    .git
    __pycache__
    venv
    build
    dist
    samil.egg-info
    resources  # <-- should maybe be removed
    setup.py

max-complexity = 10
docstring-convention = google
max-line-length = 119

# Ignore missing docstring errors in test files (not sure if this is the best approach..)
per-file-ignores =
    tests/*:D1
